{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}
 :aliases {:run-main {:main-opts ["-m" "parse-rss-example.core"]}
           :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
                   :ns-default build}}}
